<h1>ログインページ</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <div class="m-3">
    <%= f.label :email, class: "form-label"%>
    <%= f.email_field :email, class: 'form-control w-25'%>
  </div>
  <div class="m-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: 'form-control w-25' %>
  </div>
  <%= f.submit "ボタン", class: "btn btn-primary" %>
<% end %>
