<%= form_with(model: one_diary) do |form| %>
  <% if one_diary.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(one_diary.errors.count, "error") %> prohibited this one_diary from being saved:</h2>

      <ul>
        <% one_diary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="m-3">
    <%= form.label :title, "タイトル", style: "display: block", class: "form-label"  %>
    <%= form.text_field :title, class: "form-control w-25 title" %>
  </div>

  <div class="m-3">
    <%= form.label :content, "内容", style: "display: block", class: "form-label" %>
    <%= form.text_area :content ,class: "form-control w-75 content" %>
  </div>

  <div>
    <%= form.label :date, style: "display: block", class: "form-label"  %>
    <%= form.date_field :date ,class: "form-control"%>
  </div>

  <ul>
    <% @one_diary.images.each do |file| %>
      <li>
        <% if file.representable? %>
          <%= image_tag file.representation(resize_to_limit: [100, 100]) %>
        <% else %>
          <%= link_to rails_blob_path(file, disposition: "attachment") do %>
            <%= image_tag "placeholder.png", alt: "Download file" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>


  <div>
    <%= form.file_field :images, multiple: true, direct_upload: true %>
  </div>
  
  <div>
   <%= form.submit '決定', class: "btn btn-outline-primary" %>
  </div>
<% end %>
