<div class="main-content">
  <%= link_to 'タスク新規作成', new_post_path, class: "btn btn-primary my-3" %>
  <h1>タスク</h1>
  <h2>直近タスク一覧</h2>
  <div class="diary m-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width:150px;">日付</th>
          <th style="width:200px;">タイトル</th>
          <th style="width:500px;">内容</th>
          <th style="width:150px;">状態</th>
          <th style="width:150px;">重要度</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.created_at.strftime("%Y-%m-%d") %></td> 
            <td><%= link_to post.title, edit_post_path(post.id) %></td> 
            <td><%= post.content %></td>
            <td><%= I18n.t("activerecord.attributes.post.status.#{post.status}", locale: :ja) %></td>
            <td>
        
            <div class="<%= if post.important_status == 'normal' 
                                  'badge bg-primary' 
                            elsif post.important_status == 'important' 
                                  'badge bg-danger' 
                            else  
                                    'badge bg-success'
                            end %>">
              <%= I18n.t("activerecord.attributes.post.important_status.#{post.important_status}", locale: :ja) %>
            </div>
          </tr>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<%= paginate @posts %>