<h1>新規作成</h1>

<%= form_with(model: @post, local: true) do |form| %>

  <h3>今日の日時</h3>
  <%= Time.now %>
  <div class="field">
    <h3>タイトル</h3>
    <%= form.text_field :title %>
  </div>
  <div class="time">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>
  <div class="field">
    <h3>中身</h3>
    <%= form.text_area :content %>
  </div>

  <%= form.submit '出力', class: "btn btn-outline-primary" %>
<% end %>

<%= link_to 'ユーザー一覧', posts_path, class: "btn btn-primary" %>


