<%= button_to "このタスクを削除する", @post, method: :delete %>
<h1>一覧</h1>
<div>   
  タイトル <%= @post.title %>
</div>
<div>
  <%= @post.content %>
</div>
<div>
</div>
<%= link_to 'タスク編集', edit_post_path(@post), class: "btn btn-primary" %>
<%= link_to 'タスク一覧', posts_path, class: "btn btn-primary" %>