<h1><%= params[:date] %>の記録</h1>
<%= link_to "日にちごとの記録ページ", onedays_path, class: "my-3 btn btn-outline-primary" %>

<div>
  <% if @one_diaries.count > 0 %>
    <h3>日記一覧</h3>
    <div class="mb-5" id="one_diaries">
      <table class="my-3 table table-hover">
        <thead>
          <tr>
            <th style="width: 200px;">タイトル</th>
            <th style="width: 300px;">内容</th>
            <th style="width: 100px;">編集ボタン</th>
            <th style="width: 100px;">詳細ボタン</th>
          </tr>
        </thead>
        <tbody>
          <% @one_diaries.each do |one_diary| %>
            <tr>
              <td><%= one_diary.title %></td> 
              <td><%= one_diary.content %></td> 
              <td><%= link_to "編集", edit_one_diary_path(one_diary), class: "mx-3 btn btn-outline-primary" %></td>
              <td><%= link_to "詳細", one_diary, class: "mx-3 btn btn-outline-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  
  <% if @memos.count > 0 %>
    <h3>メモ一覧</h3>
    <div class="mb-5" id="memos">
      <% @memos.each do |memo| %>
        <div>
          <%= link_to memo.title, memo %>
        
        </div>
      <% end %>
    </div>
  <% end %>
  
  <% if @posts.count > 0 %>
    <h3>タスク一覧</h3>
    <div class="diary mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:200px;">タイトル</th>
            <th style="width:500px;">内容</th>
            <th style="width:150px;">状態</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.title, edit_post_path(post.id) %></td> 
              <td><%= post.content %></td>
              <td><%= I18n.t("activerecord.attributes.post.status.#{post.status}", locale: :ja) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>