<p style="color: green"><%= notice %></p>
<%= link_to "新規メモ", new_memo_path, class: "btn btn-outline-primary"  %>
<% content_for :title, "Memos" %>


<h1>メモ一覧</h1>
<%= form_with url: memos_path, method: :get, local: true do %>
  <div class="my-3 d-flex align-items-center">
    <%= text_field_tag :query, params[:query], placeholder: "キーワードを入力",  class: 'form-control w-25 m-1 title' %>
    <%= submit_tag "検索", class: "btn btn-outline-primary" %>
  </div>
<% end %>
<div id="memos">
  <% @memos.each do |memo| %>
    <div>
      <%= link_to memo.title, memo %>
    
    </div>
  <% end %>
  <div class="my-3">
    <%= paginate @memos %>
  </div>
</div>

