<!DOCTYPE html>
<html>
  <head>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <title><%= content_for(:title) || "Diary" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
  </head>
  <div class="all">
    <header class="title bg-primary">
      <h1>猫と山と人生</h1>
    </header>
    <%= link_to 'メインページ', posts_path, class: "btn btn-primary" %>
    <%= link_to 'タスク一覧', posts_all_path, class: "btn btn-secondary" %>
    <%= link_to 'メモ一覧', memos_path, class: "btn btn-success" %>
    <%= link_to '新規メモ', new_memo_path, class: "btn btn-success" %>
    <%= button_to 'ログアウト', logout_path, method: :delete, data: { confirm: '本当にログアウトしますか' }, class: "btn btn-danger my-3" %>
    <body >
      <%= yield %>
  
    </body>
    <footer class="bg-secondary h-15">
      <%= image_tag '/Users/takeidaichi/Downloads/_i_icon_13188_icon_131880_256.png' %>
    </footer>
  </div>
</html>
